@import "_variables.scss";

// Global styles
// -------------

html {
    @media #{$medium-and-up} {
        font-size: 15px !important;
    }
    @media #{$large-and-up} {
        font-size: 16px !important;
    }
}

body {
    background-color: map-get($brand-gray, '200');
    font-size: 1rem;
    font-weight: 400;
    color: $text-color;
    font-family: Nunito, $fallback-fonts;
    padding-top: $navbar-height;

    &::-webkit-scrollbar {
        width: 0.5rem;
    }
}

// Scrollbars (Chrome only)

::-webkit-scrollbar {
    width: 0.2rem;
    height: 0.2rem;
}

::-webkit-scrollbar-track {
    background: $primary-light-color;
}

::-webkit-scrollbar-thumb {
    background: $primary-dark-color;
}

::-webkit-scrollbar-thumb:hover {
    background: $secondary-color;
}

:focus {
    outline: none !important;
    -webkit-tap-highlight-color: transparent;
}

ba-root {

    .container {
        width: 85%;
        margin: auto;
        margin-top: 4rem;
    }

    section {
        background-color: #FFF;
        padding: $padding-xl;
        margin-bottom: 2rem;
    }

    a {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }

    h1, h2, h3, h4, h5, h6 {
        font-weight: 700;
    }

}




