.flexbox {
    display: flex;
    align-items: center;
    justify-content: center;
}

// Specific to touch devices
.touch-device {
    .no-highlight-on-tap {
        cursor: default !important;
    }
    &.no-scrolling {
        overflow: hidden;
    }
}

.no-underline {
    &:hover,
    & a:hover {
        text-decoration: none !important;
    }
}
