
// Colors
// ------

$brand-gray: (
    'base': #8F8F8F,
    'gray-100': #FAFAFA,
    'gray-200': #F6F6F6,
    'gray-300': #EEE,
    'gray-400': #DDD,
    'gray-500': #CCC,
    'gray-600': #999,
    'gray-700': #666,
    'gray-800': #555,
    'gray-900': #444,
    'gray-1000': #333
);

$text-color: map-get($brand-gray, 'gray-1000');

// Spacing
// -------

$padding-s: .2rem;
$padding-m: .5rem;
$padding-l: 1rem;
$padding-xl: 2rem;
$padding-default: $padding-l;


// Fonts
// -----

$fallback-fonts: Roboto, "Helvetica Neue", Arial, sans-serif;
