<form id="goods-search-form" class="search-form-container">

    <mat-form-field color="accent" class="search-input-container">
        <mat-label>Keywords…</mat-label>
        <input matInput #searchInput id="search-input" class="search-input" type="text" autocomplete="off" [(ngModel)]="criteria.keywords" name="searchInput">
        <ba-svg-icon *ngIf="!searchInput.value" icon="search" matSuffix class="search-icon"></ba-svg-icon>
        <ba-svg-icon *ngIf="searchInput.value" (click)="clearSearchInput()" icon="clear" matSuffix class="clear-icon"></ba-svg-icon>
    </mat-form-field>
    <div class="range-field min-quality-filter">
        <label for="min-quality-slider">Min quality</label>
        <mat-slider #minQualitySlider id="min-quality-slider" thumbLabel min="1" max="50" [value]="criteria.minQuality"></mat-slider>
    </div>
</form>

<div class="goods-table-container not-selectable" [ngClass]="{'no-result': noResult}">
    <ngx-datatable
        #datatable
        class="material"
        [columnMode]="'standard'"
        [columns]="columns"
        [footerHeight]="footerHeight"
        [headerHeight]="headerHeight"
        [limit]="50"
        [messages]="{ emptyMessage:'Empty…', totalMessage:'goods' }"
        [reorderable]="false"
        [rowHeight]="rowHeight"
        [rows]="goods$ | async"
        [sortType]="'multi'"
        [scrollbarH]="true"
        [trackByProp]="'id'"
        [virtualization]="false">
    </ngx-datatable>

</div>
